<div class="logo"></div>
<form (submit)="login()">
  <md-input-container >
    <input mdInput [(ngModel)]="username"
           name="username"
           placeholder="Username"
           (keyup)="loginMessage = ''"
           autofocus/>
  </md-input-container>
  <md-input-container>
    <input mdInput [(ngModel)]="password"
           name="password"
           placeholder="Password"
           (change)="loginMessage = ''"
           type="password"/>
  </md-input-container>
  <div class="flex-spacer"></div>
  <div class="controls">
    <button md-raised-button color="primary">Login</button>
  </div>
</form>

<div id="login-message" [class.shown]="loginMessage && loginMessage.length > 0">
  <span>wrong credentials</span>
</div>
