<div *ngIf="classes">
  <div class="day-titles-fixed">
    <div *ngFor="let dayName of dayNames">
      {{dayName}}
    </div>
  </div>
  <div class="time-marks">
    <div *ngFor="let timeStamp of timeStamps"
         [style.height]="showEvery * scale + 'px'">
      <span>{{timeStamp}}</span>
    </div>
  </div>

  <div class="gutter"></div>

  <button id="options-button"><i class="fa fa-cog"></i></button>

  <app-timetable-column *ngFor="let i of [0, 1, 2, 3, 4, 5, 6]"
                        [title]="dayNames[i]"
                        [titleAbbr]="dayNamesAbbr[i]"
                        [classes]="classes[i]"
                        [beginningMinutes]="beginningMinutes"
                        [showEvery]="showEvery"
                        [scale]="scale"
                        [mode]="mode">
  </app-timetable-column>

  <div class="loader" *ngIf="loading">
    <md-spinner></md-spinner>
  </div>
</div>
