<app-nested-list [title]="'departments' | translate"
                 [primaryColor]="primaryColor">
  <app-nested-list-inner *ngFor="let yearDepartment of yearDepartments"
                         [title]="('year' | translate) + ' ' + (yearDepartment.year | roman)">
    <app-nested-list-inner-item *ngFor="let department of yearDepartment.departments"
                                [val]="department.departmentId"
                                (click)="onSelect(department.departmentId)"
                                [selected]="department.departmentId === selectedDepartmentId"
                                [primaryColor]="primaryColor"
    >
      {{department.departmentName}}
    </app-nested-list-inner-item>

  </app-nested-list-inner>

</app-nested-list>
