/* You can add global styles to this file, and also import other style files */

* {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}


.mat-tooltip {
  white-space: pre-wrap !important;
  //font-size: 20px !important;
}

