@import "../../../ljubenovic-toolkit";
@import "../../../palette";

:host {
  padding: 0;
}

.main-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  font-size: 1.1em;
  padding: 18px;

  dl {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    > div {
      display: flex;
      margin-bottom: 20px;

      dt {
        @include force-width(3em);
        font-size: 1.2em;
        display: flex;
        align-items: center;

        i {
          text-align: center;
          width: 1.2em;
          height: 1.2em;
          font-size: 1.2em;
        }

        span {
          display: none;
          font-weight: bold;
        }
      }

      dd {
        width: 75%;
        display: flex;

        > .more-info {
          margin-left: .5em;
          color: rgba(black, .15);
          width: 1.2em;
          height: 1.2em;
          text-align: center;
          line-height: 1.2em;
          border-radius: 50%;
          transition: all .2s ease;
          position: relative;

          > div {
            display: none;
            opacity: 0;
            transition: opacity .2s ease;
            background-color: rgba(palette($blue-grey, 900), .8);
            color: rgba(white, .86);
            position: absolute;
            padding: .5em .8em;
            height: 3ex;
            line-height: 3ex;
            border-radius: .3em;
            margin-left: 2em;
            top: -0.65em;
          }

          &:hover {
            color: rgba(black, .2);

            > div {
              display: block;
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .controls {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    flex-wrap: wrap;

    button {
      margin-right: 0.5em;
    }
  }
}

.additional-info {
  display: flex;
  justify-content: center;
  padding: 18px;

  .no-notifications {
    display: flex;
    justify-content: center;
    align-items: center;

    > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      i {
        color: rgba(black, .15);
        font-size: 5em;
      }

      span {
        display: inline-block;
        margin-top: 1em;
        text-align: center;
        color: rgba(black, .25);
        font-size: 1.5em;
      }
    }
  }

  .notifications {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .notification {
      border-radius: 3pt;
      padding: .5em .8em;
      //background-color: palette($blue-grey, 50);
      @include z-depth(.5);
      margin-bottom: 1em;
      background-color: white;

      &:last-child {
        margin-bottom: 0;
      }

      .title {
        font-size: 1.4142em;
        font-weight: bold;
      }
    }
  }
}
