<md-tab-group>
  <md-tab [label]="'basic_info' | translate">
    <!-- čas, a ne aktivnost -->
    <div class="main-info" *ngIf="class.isClass">
      <dl>
        <div>
          <dt class="class-time">
            <i class="fa fa-clock-o"></i>
            <span>{{'time' | translate}}</span>
          </dt>
          <dd>
            {{class.startMinutes | toTimestamp}} — {{class.endMinutes | toTimestamp}}
          </dd>
        </div>

        <div>
          <dt class="class-place">
            <i class="fa fa-server"></i>
            <span>{{'place' | translate}}</span>
          </dt>
          <dd>
            {{class.classroom}}
          </dd>
        </div>

        <div>
          <dt class="class-subject">
            <i class="fa fa-graduation-cap"></i>
            <span>{{'subject' | translate}}</span>
          </dt>
          <dd>
            {{class.className}}
          </dd>
        </div>

        <div>
          <dt class="type">
            <i class="fa fa-sitemap"></i>
            <span>{{'type' | translate}}</span>
          </dt>
          <dd>
            {{class.type}}
          </dd>
        </div>

        <div *ngIf="assistant">
          <dt class="assistant">
            <i class="fa fa-male"></i>
            <span>{{'assistant' | translate}}</span>
          </dt>
          <dd>
            {{class.assistant?.name}}
            &nbsp;
            <a *ngIf="class.assistant.mail" [href]="'mailto:' + class.assistant?.mail">
              <i class="fa fa-envelope"></i>
            </a>
          </dd>
        </div>

      </dl>

      <div class="controls">
        <button *ngIf="mode === _Mode.StudentOfficial || mode === _Mode.StudentGlobal && class.isClass"
                md-raised-button
                color="primary"
                (click)="addToPersonal()">
          {{'add_to_personal' | translate}}
        </button>

        <button *ngIf="mode === _Mode.StudentPersonal && class.isClass"
                md-raised-button
                color="primary"
                (click)="hideClass()">
          {{'hide_class' | translate}}
        </button>

        <button *ngIf="mode === _Mode.StudentPersonal"
                md-raised-button
                color="primary"
                (click)="openAddTaskDialog()">
          {{'add_task' | translate}}
        </button>

        <button *ngIf="mode === _Mode.AssistantOfficial"
                md-raised-button
                color="primary"
                (click)="openAddAnnouncementDialog()">
          {{'add_announcement' | translate}}
        </button>

        <button *ngIf="mode === _Mode.AssistantOfficial"
                md-raised-button
                color="primary"
                (click)="openCancelClassDialog()">
          {{'cancel_class' | translate}}
        </button>

        <button *ngIf="mode === _Mode.AssistantOfficial"
                md-raised-button
                color="primary"
                (click)="openUncancelClassDialog()">
          {{'undo_cancel' | translate}}
        </button>

        <button *ngIf="mode !== _Mode.StudentGlobal"
                md-raised-button
                color="primary"
                (click)="bulletinBoardDialog.open()">
          {{'bulletin_board' | translate}}
        </button>
      </div>
    </div>
  </md-tab>
  <md-tab [label]="'announcements' | translate">
    <div class="additional-info">

      <div class="no-notifications" *ngIf="class.notifications && !class.notifications.length">
        <div>
          <i class="fa fa-bell-slash-o"></i>
          <span>{{'no_announcements__1' | translate}}<br>{{'no_announcements__2' | translate}}</span>
        </div>
      </div>

      <div class="notifications" *ngIf="class.notifications && class.notifications.length">
        <div class="notification"
             *ngFor="let notification of class.notifications"
        >
          <div class="title">{{notification.title}}</div>
          <div class="info">
            <div class="place">{{notification.place}}</div>
          </div>
          <div class="content">{{notification.activityContent}}</div>
        </div>
      </div>

    </div>
  </md-tab>
</md-tab-group>
