@import "../../ljubenovic-toolkit";
@import "../../palette";
@import "../../app-colors";
@import "../../themes";

:host {
  display: block;
  padding: 1ex 1em;
  cursor: pointer;

  &.selected {
      font-weight: bold;
      color: mat-color($default-accent, A700);
    }

  &:hover {
    background-color: rgba(black, .1);
  }

  //region Themes
  @each $string, $var in $theme-all-var-string {
    &.selected.#{$string} {
      color: $var;
    }
  }
  //endregion
}
