<app-header [name]="'Masa'"
            [surname]="'Djordjevic'"
            [address]="'445'"
            [email]="'masadjordjevic@gmail.com'"
></app-header>

<main>
  <app-departments-list [primaryColor]="theme('department')"></app-departments-list>
  <app-divisions-list *ngIf="selectedDepartmentId" [primaryColor]="theme('division')"></app-divisions-list>
  <app-groups-list *ngIf="selectedDivisionId" [primaryColor]="theme('group')"></app-groups-list>
  <app-students-list *ngIf="selectedGroupId" [primaryColor]="theme('student')"></app-students-list>
</main>

<div [class.ice-theme]="isIceTheme">
  <button md-raised-button color="primary">Raised button</button>
  <button md-raised-button color="accent">Raised button</button>
  <button md-raised-button color="warn">Raised button</button>
</div>
