<app-header [name]="'Masa'"
            [surname]="'Djordjevic'"
            [address]="'445'"
            [email]="'masadjordjevic@gmail.com'"
></app-header>

<main ngClass="{{theme}}">
  <app-departments-list [primaryColor]="getThemeClass('department')"></app-departments-list>
  <app-divisions-list *ngIf="selectedDepartmentId" [primaryColor]="getThemeClass('division')"></app-divisions-list>
  <app-groups-list *ngIf="selectedDivisionId" [primaryColor]="getThemeClass('group')"></app-groups-list>
  <app-students-list *ngIf="selectedGroupId" [primaryColor]="getThemeClass('student')"></app-students-list>


  <app-panel-options *ngIf="!isSomethingSelected"></app-panel-options>
  <app-department-options *ngIf="selectedDepartmentId && !selectedDivisionId"></app-department-options>
  <app-division-options *ngIf="selectedDivisionId && !selectedGroupId"></app-division-options>
  <app-group-options *ngIf="selectedGroupId && !selectedStudentId"></app-group-options>
  <app-student-options *ngIf="selectedStudentId"></app-student-options>
</main>


