<app-nested-list [title]="'students' | translate"
                 [primaryColor]="primaryColor"
                 [secondaryColor]="secondaryColor">
  <app-nested-list-inner-item *ngFor="let student of students"
                              [val]="student.StudentId"
                              (click)="onSelect(student.StudentId)"
                              [selected]="student.StudentId === selectedStudentId"
                              [primaryColor]="primaryColor">
    <pre>{{student.UniMembers.Name + " " + student.UniMembers.Surname}}</pre>
    <span>{{student.IndexNumber}}</span>
  </app-nested-list-inner-item>
</app-nested-list>
