@import "../../../_ljubenovic-toolkit";
@import "../../../_palette";

:host {
  width: 100%;
  margin: 12px;
  padding: 12px;
  background-color: palette($blue-grey, 50);
  color: rgba(black, .85);
  @include z-depth(1);

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}

