:host {
  padding: 2em;
  display: flex;
  flex-flow: column;
  width: 300px;

  > * {
    margin: .5em;
  }

  textarea {
    outline: none;
    height: 80px;
  }

  .controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.full-width {
  width: 100%;
}
