<div *ngIf="dateChoices && dateChoices.length > 1">
  <md-input-container color="warn" class="full-width">
    <input mdInput
           [value]="cancel.startDate"
           [placeholder]="('canceling_class_scheduled_for' | translate) + ' ' + dateChoices[0]"
           [mdAutocomplete]="dateAutocomplete">
  </md-input-container>
  <md-autocomplete #dateAutocomplete="mdAutocomplete">
    <md-option *ngFor="let dateChoice of dateChoices"
               (click)="cancel.startDate = dateChoice"
               [value]="dateChoice">
      {{dateChoice}}
    </md-option>

  </md-autocomplete>

  <md-input-container color="warn" class="full-width">
    <input mdInput
           [value]="cancel.title"
           [placeholder]="'title' | translate">
  </md-input-container>

  <md-input-container color="warn" class="full-width">
  <textarea  mdInput
             [value]="cancel.content"
             [placeholder]="'content' | translate"></textarea>
  </md-input-container>
</div>

<div class="controls">
  <button md-raised-button
          color="warn"
          (click)="cancelClass()">
    {{'cancel_class' | translate}}
  </button>
</div>
