<div *ngIf="times && times.length">
  <md-input-container color="warn" class="full-width">
    <input mdInput
           [value]="getSelectedDate(selectedActivity)"
           [placeholder]="('undo_cancel_class_for' | translate) + ' ' + times[0].time"
           [mdAutocomplete]="dateAutocomplete">
  </md-input-container>
  <md-autocomplete #dateAutocomplete="mdAutocomplete">
    <md-option *ngFor="let time of times"
               (click)="selectedActivity = time.activityId">
      {{time?.time}}
    </md-option>

  </md-autocomplete>
</div>
<div class="controls">
  <button md-raised-button
          color="warn"
          (click)="uncancelClass()">
    {{'uncancel_class' | translate}}
  </button>
</div>
