<header>

  <div class="profile-picture">
    <div style="background-image: url('../../../assets/avatar.png')"></div>
  </div>

  <div class="basic-info">
    <div class="name">{{name}} {{surname}}</div>
    <div class="details">
      <div class="office"><i class="fa fa-briefcase"></i> {{address}}</div>
      <div class="e-mail"><i class="fa fa-envelope"></i> {{email}}</div>
    </div>
  </div>

  <button #StudentEditButton>
    <i class="fa fa-pencil"></i>
  </button>

  <div class="flex-spacer"></div>

  <div class="options">
    <button (click)=" router.navigate(['/'])">
      <md-icon>home</md-icon>
    </button>
    <button md-icon-button [mdMenuTriggerFor]="lang">
      <md-icon>language</md-icon>
    </button>
    <md-menu #lang="mdMenu" class="'options'">
      <button md-menu-item (click)="changeLang('en')">
        <div class="dropdown-item">
          <div class="flag"
               style="background-image: url('https://upload.wikimedia.org/wikipedia/en/a/ae/Flag_of_the_United_Kingdom.svg')"></div>
          <span class="language-name">English</span>
        </div>
      </button>
      <button md-menu-item (click)="changeLang('sr')">
        <div class="dropdown-item">
          <div class="flag"
               style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/f/ff/Flag_of_Serbia.svg')"></div>
          <span class="language-name">srpski</span>
        </div>
      </button>
      <button md-menu-item (click)="changeLang('fr')">
        <div class="dropdown-item">
          <div class="flag"
               style="background-image: url('https://upload.wikimedia.org/wikipedia/en/c/c3/Flag_of_France.svg')"></div>
          <span class="language-name">français</span>
        </div>
      </button>
    </md-menu>

    <button md-icon-button [mdMenuTriggerFor]="theme">
      <md-icon>palette</md-icon>
    </button>
    <md-menu #theme="mdMenu" class="dropdown theme-dropdown">
      <button md-menu-item (click)="changeTheme('material')">
        <div class="theme-preview">
          <span class="theme-name">Material</span>
          <div class="material-primary"></div>
          <div class="material-accent"></div>
          <div class="material-warn"></div>
          <div class="material-accent2"></div>
        </div>
      </button>

      <button md-menu-item (click)="changeTheme('ice')">
        <div class="theme-preview">
          <span class="theme-name">Ice</span>
          <div class="ice-primary"></div>
          <div class="ice-accent"></div>
          <div class="ice-warn"></div>
          <div class="ice-accent2"></div>
        </div>
      </button>

      <button md-menu-item (click)="changeTheme('sunset')">
        <div class="theme-preview">
          <span class="theme-name">Sunset</span>
          <div class="sunset-primary"></div>
          <div class="sunset-accent"></div>
          <div class="sunset-warn"></div>
          <div class="sunset-accent2"></div>
        </div>
      </button>

      <button md-menu-item (click)="changeTheme('autumn')">
        <div class="theme-preview">
          <span class="theme-name">Autumn</span>
          <div class="autumn-primary"></div>
          <div class="autumn-accent"></div>
          <div class="autumn-warn"></div>
          <div class="autumn-accent2"></div>
        </div>
      </button>

      <button md-menu-item (click)="changeTheme('earth')">
        <div class="theme-preview">
          <span class="theme-name">Earth</span>
          <div class="earth-primary"></div>
          <div class="earth-accent"></div>
          <div class="earth-warn"></div>
          <div class="earth-accent2"></div>
        </div>
      </button>
    </md-menu>
    <button (click)="logout()">
      <md-icon>exit_to_app</md-icon>
    </button>


  </div>


</header>
