@import "../../ljubenovic-toolkit";

$dt-width: 30%;

:host {
  display: flex;
  flex-wrap: wrap;

  /deep/ {
    dt, dd {
      box-sizing: border-box;
      padding: .5em;
    }

    dt {
      @include force-width($dt-width);
      font-weight: bold;
    }

    dd {
      width: calc(100% - #{$dt-width});
      color: black;
    }
  }

}
