@import "../../../ljubenovic-toolkit";
@import "../../../palette";
@import "../../../themes";

:host {
  md-input-container {
    margin: 0.2em;
  }

  display: flex;
  flex-direction: column;
  max-height: calc(90vh - 20px);

  .content {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    max-height: calc(80vh - 20px);
    overflow-y: auto;

    .group {
      display: flex;
      align-items: center;

      .name {
        padding: .25em;
        width: 120px;
        font-weight: bold;
      }

      .inputs {
        display: flex;
        padding: 1.5em;

        display: flex;
        align-items: baseline;
        padding: .25em;

        .name, .classroom, .timespan {
          padding: .25em;
        }


        .classroom {
          width: 60px;
        }

        .day-of-week {
          width: 80px;
        }

        .timespan {
          width: 180px;
          display: flex;

          > * {
            flex: 1 0 auto;
            padding: 0 .25em;
          }

        }

        .date {
          width: 150px;
        }

      }
    }


  }

  .controls {
    padding-top: 1em;
    display: flex;
    justify-content: flex-end;
  }
}

.full-width {
  width: 100%;
}
