<div *ngIf="editedDivision.length > 0" class="content">
  <div class="group"
       *ngFor="let group of division.Groups; let i = index">
    <div class="name">{{group.Name}}</div>

    <div class="inputs">
      <md-input-container class="classroom">
        <input mdInput
               [placeholder]="'classroom' | translate"
               [mdAutocomplete]="classroomAutocomplete"
               [value]="getClassroomNumber(editedDivision[i].classroomId)"
               >
      </md-input-container>
      <md-autocomplete #classroomAutocomplete="mdAutocomplete"
     >
        <md-option *ngFor="let classroom of classrooms"
                   (onSelectionChange)="editedDivision[i].classroomId = classroom.classroomId"
                   [value]="classroom.number">
          {{classroom.number}}
        </md-option>
      </md-autocomplete>


      <md-input-container class="timespan">
        <input mdInput
               [placeholder]="'period' | translate"
               [mdAutocomplete]="timespanAutocomplete"
               [value]="getPeriod(editedDivision[i].period)">
      </md-input-container>
      <md-autocomplete #timespanAutocomplete="mdAutocomplete">
        <md-option (onSelectionChange)="editedDivision[i].period = 1"
                   [value]="'every_week' | translate">
          {{'every_week' | translate}}
        </md-option>
        <md-option (onSelectionChange)="editedDivision[i].period = 2"
                   [value]="'every_second_week' | translate">
          {{'every_second_week' | translate}}
        </md-option>
        <md-option (onSelectionChange)="editedDivision[i].period = 4"
                   [value]="'every_fourth_week' | translate">
          {{'every_fourth_week' | translate}}
        </md-option>
        <md-option (onSelectionChange)="editedDivision[i].period = 0"
                   [value]="'just_once' | translate">
          {{'just_once' | translate}}
        </md-option>
      </md-autocomplete>

      <div *ngIf="editedDivision[i].period && editedDivision[i].period !== 0">
        <md-input-container class="day-of-week">
          <input mdInput
                 [placeholder]="'day_in_week' | translate"
                 [mdAutocomplete]="dayAutocomplete"
                 [value]="getDayOfWeek(editedDivision[i].dayOfWeek)"
          >
        </md-input-container>
        <md-autocomplete #dayAutocomplete="mdAutocomplete">
          <md-option *ngFor="let day of daysOfWeek; let d = index"
                     (onSelectionChange)="editedDivision[i].dayOfWeek = d == 6 ? 0 : d+1"
                     [value]=" day | translate">
            {{day | translate}}
          </md-option>
        </md-autocomplete>
      </div>

      <md-input-container class="date">
        <input mdInput
               [placeholder]="('beginning' | translate) + ' (HH:MM)'"
               [(ngModel)]="editedDivision[i].timeStart">
      </md-input-container>

      <md-input-container class="date">
        <input mdInput
               [placeholder]="('ending' | translate) + ' (HH:MM)'"
               [(ngModel)]="editedDivision[i].timeEnd">
      </md-input-container>

      <div *ngIf="editedDivision[i].period == 0">
        <md-input-container class="date">
          <input mdInput
                 [placeholder]="('beginning' | translate) + ' (YYYY-MM-DD HH:MM)'"
                 [(ngModel)]="editedDivision[i].dateTimeStart">
        </md-input-container>

        <md-input-container class="date">
          <input mdInput
                 [placeholder]="('ending' | translate) + ' (YYYY-MM-DD HH:MM)'"
                 [(ngModel)]="editedDivision[i].dateTimeEnd">
        </md-input-container>
      </div>
    </div>
    <div class="controls">
      <button md-raised-button
              color="accent"
              (click)="save()">
        {{'save_changes' | translate}}
      </button>
    </div>
  </div>
</div>
