@import "../../../ljubenovic-toolkit";
@import "../../../palette";

:host {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  width: 1200px;
  height: 700px;
  justify-content: space-between;

  .content-top {
    @include force-height(300px);
    display: flex;
    border-bottom: 1px solid #E0E0E0;
  }

  .inputs {
    margin-right: 1%;
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .top {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .left, .right {
        width: 49%;

        & > * {
          margin-top: .5em;
        }
      }
    }

    .in-out-buttons {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      button {
        margin-left: 0.5em;
      }
    }
  }

  .chosen-selector {
    margin-left: 1%;
    width: 49%;
    height: 100%;
    overflow-y: scroll;

    & > div {
      height: 100%;
    }

    h3 {
      color: green;
    }
  }

  .others-selector {
    margin-top: .2em;
    width: 100%;
    @include force-height(340px);
    overflow-y: scroll;

    & > div {
      height: 100%;
    }

    h3 {
      color: darkred;
    }
  }

  h3 {
    margin-left: 10px;
    margin-bottom: 1em;
  }

  .controls {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    md-input-container {
      width: 90%;
    }
  }
}

.full-width {
  width: 100%;
}
