@import '~@angular/material/theming';

// Define the default theme (same as the example above).
$default-primary: mat-palette($mat-blue-grey);
$default-accent: mat-palette($mat-amber, A200, A100, A400);
$default-warn: mat-palette($mat-deep-orange);
$default-theme: mat-light-theme($default-primary, $default-accent);

// Define an alternate dark theme.
$dark-primary: mat-palette($mat-grey);
$dark-accent: mat-palette($mat-teal, A700, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);


