@import "../../ljubenovic-toolkit";
@import "../../palette";

:host {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: block;
  position: absolute;
  transition: all .3s ease;
}

a, a:hover, a:visited {
  color: rgba(black, .7) !important;
}

.invisible-blackout {
  position: absolute;
  z-index: 19;
  background-color: rgba(black, 0);
  width: 100%;
  height: 100%;
}

.r-timetable-class-wrapper-in {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  $padding: 0.5em;
  padding: $padding;
  box-sizing: border-box;
  transition: all .3s ease;
  z-index: 2;
  overflow: hidden;
  @include z-depth(1);
  cursor: pointer;
  user-select: none;

  div:not(.notification-notification) {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
  }

  &.activity {
    box-shadow: 0 0 0 .5em rgba(black, .5) inset;
    padding: .8em;
  }

  & span {
    cursor: default;

    &.times {
      font-size: 0.8em;
    }
    &.title {
      font-size: 1.2em;
      font-weight: bold;
    }
    &.type {
      font-size: 0.8em;
      opacity: .7;
      font-style: italic;
    }
    &.text {
      font-size: 0.9em;
      font-style: italic;
    }
  }
}


.notification-notification {
  $margin: .7em;
  position: absolute;
  top: $margin;
  right: $margin;
  width: 2em;
  height: 2em;
  font-size: 1em;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  i {
    color: palette($blue); // default
  }

  .counter {
    background-color: palette($red, a700);
    $s: 1em;
    width: $s;
    height: $s;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 50%;
    border: white 2px solid;
    top: -.3em;
    right: -.3em;
    color: white;
    position: absolute;
    font-family: Arial, serif;
    font-weight: bold;

    span {
      display: block;
      font-size: $s * .66;
    }
  }
}

//endregion

//region Themes
@each $string, $var in $all-colors-string-var {
  .r-timetable-class-wrapper-in.#{$string} {
    background-color: palette($var);

    &.expanded {
      background-color: white;

      .tab-line div {
        background-color: palette($var, a400);
      }
    }

    .notification-notification {
      i {
        color: palette($var);
      }
    }

    &:not(.active) {
      color: rgba(white, .54);
      //background-color: palette($var, 300);
      $color1: desaturate(palette($var, 300), 40%);
      $color2: desaturate(palette($var, 400), 40%);
      background: repeating-linear-gradient(
          45deg,
          $color1,
          $color1 10px,
          $color2 10px,
          $color2 20px
      );

      &.expanded {
        $color1: white;
        $color2: mix(black, white, 5%);
        background: repeating-linear-gradient(
            45deg,
            $color1,
            $color1 10px,
            $color2 10px,
            $color2 20px
        );
      }
    }
  }
}

//endregion
