<div [class]="'theme'">
  <app-stepper (onSubmit)="createInitialDivision()" [class]="theme + '-theme'" [theme]="theme">

    <app-step [stepTitle]="'basic_info'  | translate">
      <div class="basic-info">

        <div class="top">
          <md-input-container class="full-width">
            <input mdInput [(ngModel)]="newDivisionName"
                   color="primary"
                   [placeholder]="'division_name' | translate">
          </md-input-container>
        </div>

        <div class="top">
          <md-input-container class="full-width">
            <input mdInput
                   [placeholder]="'subject' | translate"
                   [mdAutocomplete]="coursesAutocomplete">
          </md-input-container>
          <md-autocomplete #coursesAutocomplete="mdAutocomplete">
            <md-option *ngFor="let course of courses"
                       (onSelectionChange)="newDivisionCourseId = course.CourseId"
                       [value]="course.Name">
              {{course.Name}}
            </md-option>
          </md-autocomplete>
        </div>

          <div class="top">
            <md-input-container class="full-width">
              <input mdInput
                     [placeholder]="'division_type' | translate"
                     [mdAutocomplete]="divisionTypesAutocomplete">
            </md-input-container>
            <md-autocomplete #divisionTypesAutocomplete="mdAutocomplete">
              <md-option *ngFor="let dType of divisionTypes"
                         (onSelectionChange)="newDivisionTypeId = dType.divisionTypeId"
                         [value]="dType.type">
                {{dType.type}}
              </md-option>
            </md-autocomplete>
          <md-input-container class="full-width">
            <input mdInput
                   [placeholder]="'start_date' | translate"
                   [mdDatepicker]="startPicker"
                   [(ngModel)]="newDivisionBeginningDate">
            <button mdSuffix [mdDatepickerToggle]="startPicker"></button>
          </md-input-container>
          <md-datepicker #startPicker></md-datepicker>

          <md-input-container class="full-width">
            <input mdInput
                   [placeholder]="'end_date' | translate"
                   [mdDatepicker]="endPicker"
                   [(ngModel)]="newDivisionEndingDate">
            <button mdSuffix [mdDatepickerToggle]="endPicker"></button>
          </md-input-container>
          <md-datepicker #endPicker></md-datepicker>
        </div>
      </div>
    </app-step>

    <app-step [stepTitle]="'creation_way' | translate"
              [valid]="isValid(2)">
      <div class="creation-way">
        <div class="top">

          <div class="input-wrap">
            <md-input-container class="full-width">
              <input mdInput
                     [placeholder]="'creation_way' | translate"
                     [mdAutocomplete]="creationWayAutocomplete">
            </md-input-container>
            <md-autocomplete #creationWayAutocomplete="mdAutocomplete">
              <md-option (onSelectionChange)="newDivisionCreationWay = 'on_x'" [value]="'by_number_of_groups' | translate">
                {{'by_number_of_groups' | translate}}
              </md-option>
              <md-option (onSelectionChange)="newDivisionCreationWay = 'with_x'"
                         [value]="'by_number_of_students' | translate">
                {{'by_number_of_students' | translate}}
              </md-option>
              <md-option (onSelectionChange)="newDivisionCreationWay = 'manual'"
                         [value]="'manual' | translate">
                {{'manual' | translate}}
              </md-option>
            </md-autocomplete>
          </div>

          <div class="input-wrap">
            <md-input-container class="full-width">
              <input mdInput
                     *ngIf="newDivisionCreationWay !== 'manual'"
                     [placeholder]="(newDivisionCreationWay === 'on_x' ? 'number_of_goups' : 'number_of_students') | translate"
                     [(ngModel)]="newDivisionCreationNumberX">
            </md-input-container>
          </div>

          <div class="input-wrap">
            <md-input-container class="full-width">
              <input mdInput
                     *ngIf="newDivisionCreationWay !== 'manual'"
                     [placeholder]="'sort_style' | translate"
                     [mdAutocomplete]="orderAutocomplete">
              <md-autocomplete #orderAutocomplete="mdAutocomplete">
                <md-option (onSelectionChange)="newDivisionCreationOrderIsRandom = '0'"
                           [value]="'by_index_number' | translate">
                  {{'by_index_number' | translate}}
                </md-option>
                <md-option (onSelectionChange)="newDivisionCreationOrderIsRandom = '1'"
                           [value]="'random' | translate">
                  {{'random' | translate}}
                </md-option>
              </md-autocomplete>
            </md-input-container>
          </div>

          <button md-raised-button color="primary"
                  (click)="preview()">
            {{'preview' | translate}}
          </button>

        </div>


        <div class="clearfix"></div>

        <div class="info" *ngIf="createdGroups">
          {{'division_creator_preview_info__1' | translate}}
          {{numberOfStudents()}}
          {{'division_creator_preview_info__2' | translate}}
          {{createdGroups.length}}
          {{'division_creator_preview_info__3' | translate}}
          {{averageNumberOfStudents().toFixed(2)}}
          {{'division_creator_preview_info__4' | translate}}
        </div>

        <div class="clearfix"></div>

        <div class="preview-list-of-students" *ngIf="createdGroups">
          <table>
            <thead>
            <tr>
              <th>{{'name' | translate}}</th>
              <th>#</th>
              <th>{{'students' | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let group of createdGroups; let i = index" [mdTooltip]="wholeGroupPreview(i)">
              <td>{{'group' | translate}}&nbsp;{{i + 1}}</td>
              <td>{{group.length}}</td>
              <td>{{groupPreview(i, 4)}}</td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="clearfix"></div>

      </div>
    </app-step>

    <app-step [stepTitle]="'confirm'">
      <div class="potvrda" *ngIf="createdGroups">

        <div class="top">
          <dl app-dl>
            <dt>{{"name" | translate}}</dt>
            <dd>{{newDivisionName}}</dd>
            <dt>{{"division_type" | translate}}</dt>
            <dd>{{newDivisionTypeName()}}</dd>
            <dt>{{"for_subject" | translate}}</dt>
            <dd>{{newDivisionClassName()}}</dd>
            <dt>{{"validity" | translate}}</dt>
            <dd>{{newDivisionBeginningDateToDate().toISOString().slice(0, 10)}} —
              {{newDivisionEndingDateToDate().toISOString().slice(0, 10)}}
            </dd>
          </dl>

          <dl app-dl>
            <dt>{{"total_students" | translate}}</dt>
            <dd>{{numberOfStudents()}}</dd>
            <dt>{{"total_groups" | translate}}</dt>
            <dd>{{createdGroups.length}}</dd>
            <dt>{{"average_students_per_group" | translate}}</dt>
            <dd>{{averageNumberOfStudents().toFixed(2)}}</dd>
            <dt>{{"sort_style" | translate}}</dt>
            <dd>{{newDivisionCreationOrderName()}}</dd>
          </dl>
        </div>

        <div class="bottom">
          <div class="group-list" *ngFor="let group of createdGroups; let i = index">
            <div class="group-name">{{"group" | translate}}&nbsp;{{i}}</div>
            <div class="students">
              <div class="student" *ngFor="let student of group">
                <span>{{student.indexNumber}}</span>
                <span>{{student.name}} {{student.surname}}</span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </app-step>


  </app-stepper>
</div>
