@import "../../../themes";

:host {
  padding: 1em;
  display: flex;
  flex-direction: column;
  width: 260px;

  .dialog-text {
    padding: 1em;
  }

  .dialog-controls {
    display: flex;
    justify-content: flex-end;
  }

  //region Themes
  @each $string, $var  in $theme-all-var-string {
    .#{$string} {
      button {
        background-color: $var;
        &.flat {
          background-color: transparent;
          color: $var;
        }
      }

    }
  }
  //endregion
}
