<app-nested-list [title]="'divisions' | translate"
               [primaryColor]="primaryColor"
               [secondaryColor]="secondaryColor">
  <app-nested-list-inner *ngFor="let typeDivision of typeDivisions" [title]="typeDivision.Type">
    <app-nested-list-inner-item
      *ngFor="let division of typeDivision.Divisions"
      [val]="division.DivisionId"
      (click)="onSelect(division.DivisionId)"
      [class.selected]="division.DivisionId === selectedDivisionId"
      [primaryColor]="primaryColor"
    >
      {{division.Name || division.Course}}
    </app-nested-list-inner-item>
  </app-nested-list-inner>
</app-nested-list>
