<div class="group-options" *ngIf="group">

  <h1>{{group.Name}}</h1>

  <dl app-dl>
    <dt>{{'id' | translate}}</dt>
    <dd>{{group.GroupId}}</dd>
    <div *ngIf="false">
      <dt>{{'duration'}}</dt>
      <dd>{{group.TimeSpan?.StartDate}} — {{group.TimeSpan?.EndDate}}</dd>

      <dt>{{'period'}}</dt>
      <dd>{{group.TimeSpan?.Period}}</dd>
    </div>
    <dt>{{'duration' | translate}}</dt>
    <dd>{{descriptiveString}}</dd>
  </dl>

  <p>{{errorMessage}}</p>

  <div class="flex-spacer"></div>

  <div class="footer-buttons">
    <button md-raised-button color="warn"
            (click)="openEditGroupDialog()">
      {{'group_edit' | translate}}
    </button>

    <button *ngIf="group.TimeSpanId"
            md-raised-button color="warn"
            (click)="openCancelClassDialog()">
      {{'cancel_class' | translate}}
    </button>

    <button md-raised-button color="warn"
            (click)="openTimetableDialog()">
      {{'combined_timetable' | translate}}
    </button>

    <button md-raised-button color="warn"
            (click)="openAddActivityDialog()">
      {{'add_activity' | translate}}
    </button>

    <button md-raised-button color="warn"
            (click)="openDeleteGroupDialog()">
      {{'delete_group' | translate}}
    </button>

  </div>
</div>
