@import "../../../themes";

:host {
  height: 100%;
  width: 100%;
  max-width: calc(75vw - 20px);
  max-height: calc(90vh - 20px);
  box-sizing: border-box;
  padding: .5em;
  display: flex;
  flex-wrap: wrap;
  input {
    width: 100%;
  }


  //region Themes
  @each $string, $var in $theme-all-var-string {
    &.#{$string} {
      mark {
        background-color: $var  !important;
      }
    }
  }
  //endregion
}

.query {
  width: 100%;
}

.students {
  height: 100%;
  width: 100%;
  max-width: calc(75vw - 20px);
  max-height: calc(80vh - 20px);
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}

.multiple-selector-item {
  display: flex;
  flex-direction: column;
  width: 15em;
  margin-left: .66em;
  margin-right: .25em;

  .primary {
    display: inline-block;
    font-weight: bold;
  }

  .secondary {
    display: inline-block;
    font-size: 0.75em;
    color: rgba(black, .72);

    .index-number {
      display: inline-block;
    }

    .e-mail {
      display: inline-block;
      margin-left: 1em;
    }

    i {
      display: inline-block;
      margin-right: .5em;
      color: rgba(black, .36);
    }
  }
}

