<ng-container *ngIf="possibleChoices && possibleChoices.length">
  <md-radio-group [(ngModel)]="chosenPossibleChoice">
    <md-radio-button *ngFor="let item of possibleChoices"
                     [value]="item.adId">
      {{item.time}}
    </md-radio-button>
  </md-radio-group>
  <button md-raised-button
          (click)="exchangeWith()">
    {{'exchange' | translate}}
  </button>
  {{chosenPossibleChoice}}
</ng-container>
<ng-container *ngIf="possibleChoices && possibleChoices.length === 0 && allChoices && allChoices.length > 0">
  <span>{{'no_ads' | translate}}</span>
</ng-container>


<ng-container *ngIf="allChoices && allChoices.length">
  <md-checkbox *ngFor="let item of allChoices"
               [value]="item.groupId"
               [checked]="item.chosen"
               (change)="allChoicesItemChange(item.groupId)">
    {{item.time}}
  </md-checkbox>

  <button md-raised-button
          color="primary"
          (click)="addAd()">
    {{'edit_add' | translate}}
  </button>
</ng-container>
<ng-container *ngIf="allChoices && allChoices.length === 0">
  <span>{{'no_possibilities' | translate}}</span>
</ng-container>
