<div class="student-options" *ngIf="student">

  <h1>{{student.UniMembers.Name}} {{student.UniMembers.Surname}}</h1>

  <dl app-dl>
    <dt>{{'id' | translate}}</dt>
    <dd>{{student.StudentId}}</dd>
    <dt>{{'index_number' | translate}}</dt>
    <dd>{{student.IndexNumber}}</dd>
  </dl>

  <p>{{errorMessage}}</p>

  <div class="flex-spacer"></div>

  <div class="footer-buttons {{themeClass}}">

    <button md-button color="accent" class="flat" #debuggingButton
            (click)="debuggingDialog.open()">
      {{'JSON' | translate }}
    </button>

    <div class="flex-spacer"></div>

    <button md-raised-button color="accent" #moveToGroupButton
            (click)="moveToGroupDialog.open()">
      {{'move_to_group' | translate }}
    </button>

    <button md-raised-button color="accent" #removeFromGroupButton

            (click)="removeFromGroupDialog.open()">
      {{'kick_student' | translate }}
    </button>
  </div>
</div>
