<div class="department-options" *ngIf="department">

  <h1>{{department.departmentName}} ({{department.year | roman}})</h1>

  <dl app-dl>
    <dt>{{'id' | translate}}</dt>
    <dd>{{department.departmentId}}</dd>
    <dt>{{'name' | translate}}</dt>
    <dd>{{department.departmentName}}</dd>
    <dt>{{'year' | translate}}</dt>
    <dd>{{department.year}}</dd>
  </dl>

  <p>{{errorMessage}}</p>

  <div class="flex-spacer"></div>


  <div class="footer-buttons">

    <button md-button color="primary" #debuggingButton
            (click)="debuggingDialog.open()">
      {{'JSON' | translate }}
    </button>

    <div class="flex-spacer"></div>

    <button md-raised-button color="primary" #newDivisionButton
            (click)="openNewDivisionDialog()">
      {{'new_division' | translate }}
    </button>


    <button md-raised-button color="primary" #allStudentsButton
            (click)="openAllStudentsDialog()">
      {{'students' | translate }}
    </button>


    <button md-raised-button color="primary" #globalScheduleButton
            (click)="globalScheduleDialog.open()">
      {{'global_timetable' | translate }}
    </button>
  </div>
</div>
